<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>关于ZeroOut</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css">
		<![endif]-->

</head>
<body>
	<div class="page">
		<div class="header">
			<div>
				<a href="login.html" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="login.html">登录</a>
					</li>
					<li>
						<a href="register.html">注册</a>
					</li>
					<li>
						<li class="selected">
						<a href="about.html">关于</a>
					</li>
				</ul>
			</div>
		</div>
			<div>
				<ul class="blog">
					<li>
						<a href="about.html"><img src="../static/images/glove.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>ZeroOut Social is a social network website based on gStore System.</p>
					</li>
					<li>
						<a href="about.html"><img src="../static/images/baseball.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>You can post microblog after you log in.</p>
					</li>
					<li>
						<a href="about.html"><img src="../static/images/bat.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>You can follow other people to find out what they are talking about and feeling.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="login.html">登录</a>
					</li>
					<li>
						<a href="register.html">注册</a>
					</li>
					<li>
						<a href="about.html">关于</a>
					</li>
				</ul>
				<p>ZeroOut Social is a social network website based on gStore System. You can post microblog after you log in. You can also follow other people to find out what they are talking about and feeling.</p>
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
</body>
</html>
