<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>帐号设置</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<script>
<!--
	function check_info(form)
	{
		if(form.old_pwd.value=="")
		{
			alert("请填写您现在的密码!");
			form.old_pwd.focus();
			return false;
		}
		if(form.old_pwd.value.length<3 || form.old_pwd.value.length>30)
		{
			alert("密码的长度必须在3-20之间！");
			form.old_pwd.focus();
			return false;
		}
		if(form.new_pwd.value=="")
		{
			alert("请填写新的密码");
			form.new_pwd.focus();
			return false;
		}
		if(form.old_pwd.value == form.new_pwd.value)
		{
			alert("密码未做修改");
			form.new_pwd.focus();
			return false;
		}
	}
-->
</script>
<body>
<div class="page">
		<div class="header">
			<div>
				<a href="/zeroOut/" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="/zeroOut/get_home">首页</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_user_home">个人主页</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_follow_user">关注</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_fan">粉丝</a>
					</li>
					<li>
						<a href="/zeroOut/display_profile">个人资料</a>
					</li>
					<li class="selected">
						<a href="/zeroOut/enter_change_passwd">我的帐号</a>
					</li>
					<li>
						<a href="random.html">随便看看</a>
					</li>
					<li>
						<a href="/zeroOut/">登出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div>
					<ul class="blog">		
						<form action="{% url 'zeroOut:change_passwd' %}" method="post" onSubmit="return check_info(this);">
						<center>
						<table width="520" border="0" bordercolor="#99CCFF" cellpadding="0"
							cellspacing="0" style="border-collapse: collapse">
							<!--DWLayoutTable-->
							<tr>
								<td height="40" colspan="2" align="center"><h3>修改帐号密码</h3></td>
							</tr>
							<tr height="40"></tr>
							<tr>
								<td width="24%" height="40" align="right">当前密码：&nbsp;<font color="red">*</font></td>
								<td width="76%" height="40" align="left">&nbsp;&nbsp;&nbsp;<input
									type="password" name="origin_passwd" /> （数字或者是字符[<font color="red">3-30</font>]）
							</tr>
							<tr>
								<td height="40" align="right">新的密码：&nbsp;<font color="red">*</font></td>
								<td height="40" align="left">&nbsp;&nbsp;&nbsp;<input
									type="password" name="new_passwd" /> </td>
							</tr>
							<tr>
								<td height="40" colspan="2" align="center"><input type="submit"
									value=" 提交 " /> &nbsp;<input type="button"
									onClick="history.go(-1);" value=" 返回 " /></td>
							</tr>
						</table>
						</center>
						</form>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>


