<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>随便看看</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<script>
<!--
function change(input)
{	
	if(input.value=="删除好友")
		input.value="加为好友";
	else
		input.value="加为好友";
	return true;

}
-->
</script>
</head>
<body>
<div class="page">
		<div class="header">
			<div>
				<a href="/zeroOut/" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="/zeroOut/get_home">首页</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_user_home">个人主页</a>
					</li>
					<li class="selected">
						<a href="/zeroOut/get_my_follow_user">关注</a>
					</li>
					<li >
						<a href="/zeroOut/get_my_fan">粉丝</a>
					</li>
					<li>
						<a href="/zeroOut/display_profile">个人资料</a>
					</li>
					<li>
						<a href="/zeroOut/enter_change_passwd">我的帐号</a>
					</li>
					<li>
						<a href="/zeroOut/">登出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div>
				<ul class="blog">
				
										
				<table width="80%" border="0">
				<tr>
					<td>
					<p>&nbsp;&nbsp;你可能感兴趣：</p>
					{%if follow_users%}
					<table id="block" style="margin-top:25px">
                    <tr>
                    <th> Name </th>
                    <th> Follow </th>
                    <th> Homepage </th>
                    </tr>
					{%for follow in follow_users%}
					    <tr>
						<td>{{ follow.name }}</td>
                        <td>
							<form name="FollowForm" action = "{% url 'zeroOut:delete_follow_user' %}" method="post">
                            {% csrf_token %}
							<p>
								<input type="hidden" name="followuid" value={{follow.uid}}>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="submit" name="removeFollowUser" value="移除关注"/>
							</p>
						    </form>
                        </td>
                    <td>
						<form name="FollowersHomepageForm" action="{% url 'zeroOut:get_other_user_home' %}" method="post">
                        {% csrf_token %}
						<p>
						<input type="hidden" name="uid" value={{follow.uid}}> 
						&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="submit" name="homepage" value="ta的主页"/>
						</p>
						</form>
                    </td>
					    </tr>
                    {% endfor %}
                    </table>
                    {% else %}
                    <p>No followers are available.</p>
                    {% endif %}
					</td>
					</tr>
					</table>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
