<%@ page language="java" contentType="text/html;charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>我的粉丝</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css">
		<![endif]-->
<script>
<!--
function change(input)
{	
	if(input.value=="删除好友")
		input.value="加为好友";
	else
		input.value="加为好友";
	return true;

}
-->
</script>
</head>
<body>
<div class="page">
		<div class="header">
			<div>
				<a href="login.html" id="logo"><img src="images/logo.gif" alt="logo"></a>
				<ul>
					<li>

						<a href="usermain.html">首页</a>
					</li>
					<li>
						<a href="homepage.html">个人主页</a>
					</li>
					<li>
						<a href="follow.html">关注</a>
					</li>
					<li class="selected">
						<a href="fans.html">粉丝</a>
					</li>
					<li>
						<a href="update.html">个人资料</a>
					</li>
					<li>
						<a href="changePwd.html">我的帐号</a>
					</li>
					<li>
						<a href="random.html">随便看看</a>
					</li>
					<li>
						<a href="logout.html">登出</a>
					</li>
				</ul>
			</div>
		</div>
		
					<html:useBean id="pR" class="socnet.PersonRepository" scope="page" />		
					<%
						String name = (String)session.getAttribute("loginname");
						pR = pR.getPersonRepository();
						socnet.Person person = pR.getPersonByName(name);
						java.util.Iterator<socnet.Person> it = person.getFans().iterator();
						java.util.Iterator<socnet.Person> offer = person.getFriendRecommendation(10).iterator();//pR.getAllPersons().iterator();
					%>
					
		<div class="body">
			<div>
				<div>
				<ul class="blog">							
				<table width="80%" border="0">
				<tr>
					<td>
					<p>&nbsp;&nbsp;我的粉丝：</p>
					<%
					while (it.hasNext())
					{
						socnet.Person aPerson = it.next();
						String fname = aPerson.getName();
						
						String ahref = "<a href=\"homepage.html?hpName="+fname+"\">"+fname+"</a>";

						%>
						
						<form name="removeFansForm<%=fname %>" action="RemoveFansServlet" method="post">
						<p>
						<input type="hidden" name="theFans" value="<%=fname %>"/> 
						<%
						out.println(ahref);
						%>
						&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="removeFans" value="移除粉丝"/>
						</p>
						</form>
						<%
					}
					%>
					</td>
					<td>
					<p>&nbsp;&nbsp;推荐好友：</p>
					<%
					if (!offer.hasNext())
					{
						offer = pR.getAllPersons().iterator();
					}
					int show_num = 0;
					while (offer.hasNext() && show_num < socnet.Person.SHOW_NUM)
					{
						socnet.Person aPerson = offer.next();
						String fname = aPerson.getName();
						
						String ahref = "<a href=\"homepage.html?hpName="+fname+"\">"+fname+"</a>";
						%>
						
						<form name="addFriendForm<%=fname %>" action="AddFriendServlet" method="post">
						<p>
						<input type="hidden" name="theFriend" value="<%=fname %>"/> 
						<%
						out.println(ahref);
						%>
						&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="addFollow" value="加关注"/>
						</p>
						</form>
						<%
						show_num ++;
					}
					%>
					
					</td>
					</tr>
					</table>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="login.html">登录</a>
					</li>
					<li>
						<a href="register.html">注册</a>
					</li>
					<li>
						<a href="about.html">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="vimeo">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2012. LinkGraph Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using Neo4j Database, Large Graph Data Management Project, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
