<%@ page language="java" contentType="text/html;charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>我的好友</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css">
		<![endif]-->
<script>
<!--
function change(input)
{	
	if(input.value=="删除好友")
		input.value="加为好友";
	else
		input.value="加为好友";
	return true;

}
-->
</script>
</head>
<body>
<div class="page">
		<div class="header">
			<div>
				<a href="login.html" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="usermain.html">首页</a>
					</li>
					<li>
						<a href="homepage.html">个人主页</a>
					</li>
					<li class="selected">
						<a href="follow.html">关注</a>
					</li>
					<li >
						<a href="fans.html">粉丝</a>
					</li>
					<li>
						<a href="update.html">个人资料</a>
					</li>
					<li>
						<a href="changePwd.html">我的帐号</a>
					</li>
					<li>
						<a href="random.html">随便看看</a>
					</li>
					<li>
						<a href="logout.html">登出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div>
				<ul class="blog">
				
										
				<table width="80%" border="0">
				<tr>
					<td>
					<p>&nbsp;&nbsp;我的关注：</p>
					{%if follower_users%}
					<table id="block" style="margin-top:25px">
					{%for follow in follower_users%}
					<tr>
						<th><a href="{%url 'my:app:get_user_home' follow.uid%}">{{follow}}</a></th>
						<th>{{ follow.name }}</th>
							<form name="removeFollowForm<%=fname %>" action = "{%url 'zeroOut:delete_follow_user'}" method="post">
								<p>
								<input type="hidden" name="followuid" value={{follow.uid}}>
								&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="submit" name=removeFollowUser" value="移除关注"/>
							</p>
						</form>
					</tr>
					</td>
					</tr>
					</table>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="login.html">登录</a>
					</li>
					<li>
						<a href="register.html">注册</a>
					</li>
					<li>
						<a href="about.html">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
