<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>个人主页</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
</head>
<body>

<div class="page">
		<div class="header">
			<div>
				<a href="/zeroOut/" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="/zeroOut/get_home">首页</a>
					</li>
					<li class="selected">
						<a href="homepage.html">个人主页</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_follow_user">关注</a>
					</li>
					<li >
						<a href="/zeroOut/get_my_fan">粉丝</a>
					</li>
					<li>
						<a href="update.html">个人资料</a>
					</li>
					<li>
						<a href="changePwd.html">我的帐号</a>
					</li>
					<li>
						<a href="/zeroOut/">登出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div>
					<ul class="blog">	
						<table width="100%" border="0">
							<tr>
								<td>
								<table width="100%" border="0">
									<tr>
										<td width="78%">
										<table width="100%" border="0">
											<tr>
												<img src=<%=pic %>>
											</tr>
										</table>
										<table width="100%" border="0">
											<tr>
												<td width="20%">姓名</td>
												<td width="90%"><%=name%></td>
											</tr>
											<tr>
												<td width="20%">性别</td>
												<td><%=sex %></td>
											</tr>
											<tr>
												<td width="20%">出生于</td>
												<td><%=birthday %></td>
											</tr>
											<tr>
												<td width="20%">家乡</td>
												<td><%=hometown %></td>
											</tr>
											<tr>
												<td width="20%">最喜欢的食物：</td>
												<td><%=food %></td>
											</tr>
											<tr>
												<td width="20%">最喜欢的活动：</td>
												<td><%=act %></td>
											</tr>
											<tr>
												<td width="20%">最喜欢的电影：</td>
												<td><%=movie %></td>
											</tr>											
										</table>
										</td>
										
										<td>
												
					<p>&nbsp;&nbsp;关注：</p>
										</td>
									</tr>
								</table>
								</td>
							</tr>
							<tr height="15">&nbsp;</tr>
							
							<tr>
								<td>
					<%	
						java.util.Iterator<socnet.StatusUpdate> it = person.getStatus().iterator();
						if (it == null)
						{
							out.println("Oh, No Status!");
						}
						else
						{							
							while (it.hasNext())
							{
								socnet.StatusUpdate su = it.next();
								out.println("<p>"+su.getPerson().getName()+" 说： "+
										su.getStatusText()+"   "+su.getStatusDate()+"</p>");
							}
						}
					%>
								</td>
							</tr>
						</table>
	</div>
			</div>
		</div>
		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
