<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>ZeroOut登录</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">

<script language="javascript">
function check(form){
	if (form.username.value==""){
		alert("请输入用户名称!");form.name.focus();return false;
	}
	if (form.password.value==""){
		alert("请输入密码!");form.pwd.focus();return false;
	}
}
function check1(){
	if (1){
		alert("请输入用户名称!");return false;
	}
	if (0){
		alert("请输入密码!");return false;
	}
}
</script>
</head>
<body>

	<div class="page">
		<div class="header">
			<div>
				<a href="/zeroOut/" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div id="featured">
					<h3>ZeroOut Social</h3>
					<form name="loginForm" action="{% url 'zeroOut:login' %}" method="post">
                    {% csrf_token %}
						<table width="100%" border="0" cellpadding="0" cellspacing="0"
							bordercolorlight="#FFFFFF" bordercolordark="#D2E3E6">
							<tr>
								<td height="57">&nbsp;</td>
								<td height="57" colspan="2" align="left">&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
							<tr>
							<td width="10%">&nbsp;</td>
							</tr>
						
							<tr>
								<td width="10%" height="40%"><p>用户名：&nbsp;&nbsp;
									<input name="name" type="text" id="username" size="28" height="20%"></p></td>
								<td width="9%">&nbsp;</td>
							</tr>
							<tr>
								<td width="10%" height="40%">&nbsp;</td>
							</tr>
							<tr>
								<td><p>&nbsp;&nbsp;密码：&nbsp;&nbsp;&nbsp;&nbsp; 
									<input name="pwd" type="password" id="password" size="29" height="20%"></p>
								</td>
								<td width="9%">&nbsp;</td>
							</tr>
						
						</table>
								<a><input name="resetBtn" type="reset" value="重置" size="25" height="25">&nbsp;&nbsp;
									<input  align="right" name="submitBtn" type="submit" value="登录" onClick="return check(loginForm)" size="25"> &nbsp; 
								</a>
					</form>
			  </div>
			</div>
			<div>
				<ul class="blog">
					<li>
						<a href="/zeroOut/about"><img src="../static/images/glove.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>ZeroOut Social is a social network website based on gStore System.</p>
					</li>
					<li>
						<a href="/zeroOut/about"><img src="../static/images/baseball.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>You can post microblog after you log in.</p>
					</li>
					<li>
						<a href="/zeroOut/about"><img src="../static/images/bat.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>You can follow other people to find out what they are talking about and feeling.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				<p>ZeroOut Social is a social network website based on gStore System. You can post microblog after you log in. You can also follow other people to find out what they are talking about and feeling.</p>
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
