<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>ZeroOut注册</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
<script>
<!--
	function check_info(form)
	{
		if(form.a_name.value=="")
			{
				alert("请填写您的用户名!");
				form.a_name.focus();
				return false;
			}
		if(form.a_name.value.length<1 || form.a_name.value.length>20)
		{
			alert("用户名的长度必须在1-20之间！");
			form.a_name.focus();
			return false;
		}
		if(form.a_pass.value=="")
		{
			alert("请填写您的密码!");
			form.a_pass.focus();
			return false;
		}
		if(form.a_pass.value.length<3 || form.a_pass.value.length>20)
		{
			alert("密码的长度必须在3-20之间！");
			form.a_pass.focus();
			return false;
		}
		if(form.a_pass2.value=="")
		{
			alert("请确认您的密码");
			form.a_pass2.focus();
			return false;
		}
		if(form.a_pass2.value != form.a_pass.value)
		{
			alert("两次密码不一致，请重新填写");
			form.a_pass2.focus();
			return false;
		}
		
 		var patrn=/^[0-9]{4}(-)((0[1-9])|(1[0-2]))(-)(([0-2][1-9])|(3[0-1]))$/; 
 		if(form.birthday.value!="" && !patrn.exec(form.birthday.value))
 		{
  			alert("日期格式有误，请填写正确的出生日期");
  			form.birthday.focus();
  			return false;
 		}		
		if(form.a_email.value.indexOf("@")==-1 ||(form.a_email.value.indexOf(".")==-1))
		{
			alert("错误的邮箱格式，请填写正确的电子邮箱");
			form.a_email.focus();
			return false;
		}
		if (form.a_email.value == "")
		{
			alert("请输入邮箱地址");
			form.a_email.focus();
			return false;
		}
		if (form.a_email.value == "")
		{
			alert("请输入邮箱地址");
			form.a_email.focus();
			return false;
		}
	}
-->
</script>
</head>
<body>
	<div class="page">
		<div class="header">
			<div>
				<a href="/zeroOut/" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li >
						<li class="selected">
						<a href="/zeroOut/register">注册</a>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div>
				<form action="{% url 'zeroOut:check_register' %}" method="post" onSubmit="return check_info(this);">
                {% csrf_token %}
					<ul class="blog">							
								<center>
								<table width="100%" border="0" bordercolor="#99CCFF" cellpadding="0"
									cellspacing="0" style="border-collapse: collapse">
									<!--DWLayoutTable-->
									<tr>
										<td height="30" colspan="2" align="center"><h4>用户注册</h4></td>
									</tr>
									<tr>
										<td width="24%" height="30" align="right">用户名：<font color="red">*</font></td>
										<td width="76%" height="30" align="left">&nbsp;&nbsp;
										<input type="text" name="a_name" size="28"/>&nbsp;（数字或者是字符[<font color="red">1-20</font>]）
									</tr>
									<tr>
										<td width="24%" height="30" align="right">密码：<font color="red">*</font></td>
										<td width="76%" height="30" align="left">&nbsp;&nbsp;&nbsp;
										<input type="password" name="a_pass" size="28"/> （数字或者是字符[<font color="red">3-20</font>]）
									</tr>
									<tr>
										<td height="30" align="right">确认密码：<font color="red">*</font></td>
										<td height="30" align="left">&nbsp;&nbsp;&nbsp;
										<input type="password" name="a_pass2" size="28"/> </td>
									</tr>
									<tr>
										<td width="24%" height="30" align="right">昵称：<font color="red">*</font></td>
										<td width="76%" height="30" align="left">&nbsp;&nbsp;
										<input type="text" name="nick" size="28"/>&nbsp;（沈保送）
									</tr>
									<tr>
										<td height="30" align="right">性别：&nbsp;</td>
										<td height="30" align="left">&nbsp;&nbsp;&nbsp; 
										<input type="radio" name="sex" value="男" />男
										<input type="radio" name="sex" value="女" />女
										</td>
									</tr>
									<tr>
										<td height="30" align="right">邮箱：<font color="red">*</font></td>
										<td height="30" align="left">&nbsp;&nbsp;
										<input type="text" name="a_email" size="28"/> （someone@example.com）</td>
									</tr>
									<tr>
										<td height="30" align="right">城市：<font color="red">*</font></td>
										<td height="30" align="left">&nbsp;&nbsp;
										<input type="text" name="city" size="28"/> （火星）</td>
									</tr>
									<tr>
										<td width="24%" height="30" align="right">出生日期：&nbsp;</td>
										<td width="76%" height="30" align="left">&nbsp;&nbsp;&nbsp;<input
											type="text" name="birthday" size="28"/> （出生年月日&nbsp;[<font color="red">YYYY-MM-DD</font>]）
									</tr>
								
									<tr>
										<td height="30" align="right">选择头像：&nbsp;</td>
										<td height="30" align="left">&nbsp;&nbsp;&nbsp; 
										<select name=reg_userPic size=1
											onChange="document.images['avatar'].src=options[selectedIndex].value;">
											<option value="../static/images/face/Image1.gif">Image1
											<option value="../static/images/face/Image2.gif">Image2
											<option value="../static/images/face/Image3.gif">Image3
											<option value="../static/images/face/Image4.gif">Image4
											<option value="../static/images/face/Image5.gif">Image5
											<option value="../static/images/face/Image6.gif">Image6
											<option value="../static/images/face/Image7.gif">Image7
											<option value="../static/images/face/Image8.gif">Image8
											<option value="../static/images/face/Image9.gif">Image9
											<option value="../static/images/face/Image10.gif">Image10
											<option value="../static/images/face/Image11.gif">Image11
											<option value="../static/images/face/Image12.gif">Image12
											<option value="../static/images/face/Image13.gif">Image13
											<option value="../static/images/face/Image14.gif">Image14
											<option value="../static/images/face/Image15.gif">Image15
											<option value="../static/images/face/Image16.gif">Image16
											<option value="../static/images/face/Image17.gif">Image17
											<option value="../static/images/face/Image18.gif">Image18
											<option value="../static/images/face/Image19.gif">Image19
											<option value="../static/images/face/Image20.gif">Image20
											<option value="../static/images/face/Image21.gif">Image21
											<option value="../static/images/face/Image22.gif">Image22
											<option value="../static/images/face/Image23.gif">Image23
											<option value="../static/images/face/Image24.gif">Image24
											<option value="../static/images/face/Image25.gif">Image25
											<option value="../static/images/face/Image26.gif">Image26
											<option value="../static/images/face/Image27.gif">Image27
											<option value="../static/images/face/Image28.gif">Image28
											<option value="../static/images/face/Image29.gif">Image29
											<option value="../static/images/face/Image30.gif">Image30
											<option value="../static/images/face/Image31.gif">Image31
											<option value="../static/images/face/Image32.gif">Image32
											<option value="../static/images/face/Image33.gif">Image33
											<option value="../static/images/face/Image34.gif">Image34
											<option value="../static/images/face/Image35.gif">Image35
											<option value="../static/images/face/Image36.gif">Image36
											<option value="../static/images/face/Image37.gif">Image37
											<option value="../static/images/face/Image38.gif">Image38
											<option value="../static/images/face/Image39.gif">Image39
											<option value="../static/images/face/Image40.gif">Image40
											<option value="../static/images/face/Image41.gif">Image41
											<option value="../static/images/face/Image42.gif">Image42
											<option value="../static/images/face/Image43.gif">Image43
											<option value="../static/images/face/Image44.gif">Image44
											<option value="../static/images/face/Image45.gif">Image45
											<option value="../static/images/face/Image46.gif">Image46
											<option value="../static/images/face/Image47.gif">Image47
											<option value="../static/images/face/Image48.gif">Image48
											<option value="../static/images/face/Image49.gif">Image49
											<option value="../static/images/face/Image50.gif">Image50
											<option value="../static/images/face/Image51.gif">Image51
											<option value="../static/images/face/Image52.gif">Image52
											<option value="../static/images/face/Image53.gif">Image53
											<option value="../static/images/face/Image54.gif">Image54
											<option value="../static/images/face/Image55.gif">Image55
											<option value="../static/images/face/Image56.gif">Image56
											<option value="../static/images/face/Image57.gif">Image57
											<option value="../static/images/face/Image58.gif">Image58
											<option value="../static/images/face/Image59.gif">Image59
											<option value="../static/images/face/Image60.gif">Image60
										</select> &nbsp;&nbsp;<img id=avatar src="../static/images/face/Image1.gif" alt=个人头像
											width="32" height="32"></td>
									</tr>

									<tr>
										<td height="35" colspan="2" align="center">
										<input type="submit" value=" 提交 " /> &nbsp;
										<input type="button" onClick="history.go(-1);" value=" 返回 " /></td>
									</tr>
								</table>
								</center>
					</ul>
					</form>					
				</div>
			</div>
<div>
				<ul class="blog">
					<li>
						<a href="/zeroOut/about"><img src="../static/images/glove.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>ZeroOut Social is a social network website based on gStore System.</p>
					</li>
					<li>
						<a href="/zeroOut/about"><img src="../static/images/baseball.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>You can post microblog after you log in.</p>
					</li>
					<li>
						<a href="/zeroOut/about"><img src="../static/images/bat.png" alt=""></a>
						<h3>ZeroOut是基于gStore图数据库系统的社交网络</h3>
						<p>You can follow other people to find out what they are talking about and feeling.</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				<p>ZeroOut Social is a social network website based on gStore System. You can post microblog after you log in. You can also follow other people to find out what they are talking about and feeling.</p>
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
