<%@ page language="java" contentType="text/html;charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>编辑个人资料</title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
	<!--[if IE 7]>
			<link rel="stylesheet" href="css/ie7.css" type="text/css">
		<![endif]-->

<script>
<!--
	function check_info(form)
	{
		if(form.a_name.value=="")
			{
				alert("请填写您的用户名!");
				form.a_name.focus();
				return false;
			}
		if(form.a_name.value.length<6 || form.a_name.value.length>30)
		{
			alert("用户名的长度必须在6-20之间！");
			form.a_name.focus();
			return false;
		}
		if(form.a_pass.value=="")
		{
			alert("请填写您的密码!");
			form.a_pass.focus();
			return false;
		}
		if(form.a_pass.value.length<3 || form.a_pass.value.length>30)
		{
			alert("密码的长度必须在3-20之间！");
			form.a_pass.focus();
			return false;
		}
		if(form.a_pass2.value=="")
		{
			alert("请确认您的密码");
			form.a_pass2.focus();
			return false;
		}
		if(form.a_pass2.value != form.a_pass.value)
		{
			alert("两次密码不一致，请重新填写");
			form.a_pass2.focus();
			return false;
		}
		if(form.a_phone.value=="")
		{
			alert("请输入您的联系电话");
			form.a_phone.focus();
			return false;
		}
		if(form.a_phone.value.length>15)
		{
			alert("错误的电话号码，请重新填写您的电话！");
			form.a_phone.focus();
			return false;
		}
		if(isNaN(form.a_phone.value) || form.a_phone.value.indexOf('.',0)!=-1)
		{
			alert("请不要输入非法字符");
			form.a_phone.focus();
			return false;
		}	
		
		if(form.a_email.value.indexOf("@")==-1 ||(form.a_email.value.indexOf(".")==-1))
		{
			alert("错误的Email格式，请填写正确的电子邮箱");
			form.a_email.focus();
			return false;
		}
	}
-->
</script>
<title>LinkGraph编辑个人资料</title>
<body>
<div class="page">
		<div class="header">
			<div>
				<a href="login.html" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li>
						<a href="usermain.html">首页</a>
					</li>
					<li>
						<a href="homepage.html">个人主页</a>
					</li>
					<li>
						<a href="follow.html">关注</a>
					</li>
					<li >
						<a href="fans.html">粉丝</a>
					</li>
					<li class="selected">
						<a href="update.html">个人资料</a>
					</li>
					<li>
						<a href="/zeroOut/enter_change_passwd">我的帐号</a>
					</li>
					<li>
						<a href="random.html">随便看看</a>
					</li>
					<li>
						<a href="logout.html">登出</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div>
				<div>
					<ul class="blog">		
								<form action="UpdateServlet" method="post" onsubmit="return check_info(this);">
								<center>
								<table width="100%" border="0" bordercolor="#99CCFF" cellpadding="0"
									cellspacing="0" style="border-collapse: collapse">
									<!--DWLayoutTable-->
									<tr>
										<td height="40" colspan="2" align="center"><h3>编辑个人资料</h3></td>
									</tr>
									<tr height="40"></tr>
									<tr>
										<td height="40" align="right">头像选择：&nbsp;</td>
										<td height="40" align="left">&nbsp;&nbsp;&nbsp;
										<select name=reg_userPic size=1
											onChange="document.images['avatar'].src=options[selectedIndex].value;">
											<option value="images/face/Image1.gif">Image1
											<option value="images/face/Image2.gif">Image2
											<option value="images/face/Image3.gif">Image3
											<option value="images/face/Image4.gif">Image4
											<option value="images/face/Image5.gif">Image5
											<option value="images/face/Image6.gif">Image6
											<option value="images/face/Image7.gif">Image7
											<option value="images/face/Image8.gif">Image8
											<option value="images/face/Image9.gif">Image9
											<option value="images/face/Image10.gif">Image10
											<option value="images/face/Image11.gif">Image11
											<option value="images/face/Image12.gif">Image12
											<option value="images/face/Image13.gif">Image13
											<option value="images/face/Image14.gif">Image14
											<option value="images/face/Image15.gif">Image15
											<option value="images/face/Image16.gif">Image16
											<option value="images/face/Image17.gif">Image17
											<option value="images/face/Image18.gif">Image18
											<option value="images/face/Image19.gif">Image19
											<option value="images/face/Image20.gif">Image20
											<option value="images/face/Image21.gif">Image21
											<option value="images/face/Image22.gif">Image22
											<option value="images/face/Image23.gif">Image23
											<option value="images/face/Image24.gif">Image24
											<option value="images/face/Image25.gif">Image25
											<option value="images/face/Image26.gif">Image26
											<option value="images/face/Image27.gif">Image27
											<option value="images/face/Image28.gif">Image28
											<option value="images/face/Image29.gif">Image29
											<option value="images/face/Image30.gif">Image30
											<option value="images/face/Image31.gif">Image31
											<option value="images/face/Image32.gif">Image32
											<option value="images/face/Image33.gif">Image33
											<option value="images/face/Image34.gif">Image34
											<option value="images/face/Image35.gif">Image35
											<option value="images/face/Image36.gif">Image36
											<option value="images/face/Image37.gif">Image37
											<option value="images/face/Image38.gif">Image38
											<option value="images/face/Image39.gif">Image39
											<option value="images/face/Image40.gif">Image40
											<option value="images/face/Image41.gif">Image41
											<option value="images/face/Image42.gif">Image42
											<option value="images/face/Image43.gif">Image43
											<option value="images/face/Image44.gif">Image44
											<option value="images/face/Image45.gif">Image45
											<option value="images/face/Image46.gif">Image46
											<option value="images/face/Image47.gif">Image47
											<option value="images/face/Image48.gif">Image48
											<option value="images/face/Image49.gif">Image49
											<option value="images/face/Image50.gif">Image50
											<option value="images/face/Image51.gif">Image51
											<option value="images/face/Image52.gif">Image52
											<option value="images/face/Image53.gif">Image53
											<option value="images/face/Image54.gif">Image54
											<option value="images/face/Image55.gif">Image55
											<option value="images/face/Image56.gif">Image56
											<option value="images/face/Image57.gif">Image57
											<option value="images/face/Image58.gif">Image58
											<option value="images/face/Image59.gif">Image59
											<option value="images/face/Image60.gif">Image60
										</select> &nbsp;&nbsp;<img id=avatar src="images/face/Image1.gif" alt=个人头像
											width="32" height="30"></td>
									</tr>
									<tr>
										<td height="40" align="right">家乡：&nbsp;</td>
										<td height="40" align="left">&nbsp;&nbsp;&nbsp;<input type="text"
											name="hometown" size="25" /></td>
									</tr>
									<tr>
										<td height="40" align="right">最喜欢的食物：&nbsp;</td>
										<td height="40" align="left">&nbsp;&nbsp;&nbsp;<input
											type="text" name="food" size="50" /></td>
									</tr>
									<tr>
										<td height="30" align="right">最喜欢的电影：&nbsp;</td>
										<td height="30" align="left">&nbsp;&nbsp;&nbsp;<input
											type="text" name="movie" size="50" /></td>
									</tr>
									<tr>
										<td height="30" align="right">最喜欢的活动：&nbsp;</td>
										<td height="30" align="left">&nbsp;&nbsp;&nbsp;<input
											type="text" name="activity" size="50" /></td>
									</tr>
									<tr>
										<td height="35" colspan="2" align="center"><input type="submit"
											 value=" 提交 " /> &nbsp;<input type="button"
											 onClick="history.go(-1);" value=" 返回 " /></td>
									</tr>
								</table>
								</center>
						</form>
			</div>
			</div>
		</div>
		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="login.html">登录</a>
					</li>
					<li>
						<a href="register.html">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>


