<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>我的首页
    </title>
	<link rel="stylesheet" href="../static/css/style.css" type="text/css">
		<script>
<!--
function checkLength(textarea)
{
	if (textarea.value.length > 140)
		{	
			alert("输入的新鲜事太长啦");
			textarea.focus();
			return false;
		}
			if (textarea.value.length == 0)
		{	
			alert("没输入新鲜事呢");
			textarea.focus();
			return false;
		}
}
function clickText(textarea)
{	
	textarea.value = "";
	textarea.focus();
}
-->
</script>
<title>我的首页</title>

</head>
<body>
<div class="page">
		<div class="header">
			<div>
				<a href="/zeroOut/" id="logo"><img src="../static/images/logo.gif" alt="logo"></a>
				<ul>
					<li class="selected">
						<a href="/zeroOut/get_home">首页</a>
					</li>
					<li>
						<a href="homepage.html">个人主页</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_follow_user">关注</a>
					</li>
					<li>
						<a href="/zeroOut/get_my_fan">粉丝</a>
					</li>
					<li>
						<a href="update.html">个人资料</a>
					</li>
					<li>
						<a href="changePwd.html">我的帐号</a>
					</li>
					<li>
						<a href="/zeroOut/">登出</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="body">
			<div>
			<form name="form1" action="{% url 'zeroOut:get_home' %}" method="post">	
            {% csrf_token %}
				<div>
				<ul class="blog">							
						<table width="80%" border="0">
						 <tr>
							<td>
								<textarea name="my_news" id="my_news" rows="10" cols="60" onClick="return clickText(this)"></textarea>
							</td>
							<td>
                                <p><a href="#">微博</a> {{ weibo_num }} &nbsp; &nbsp; &nbsp;</p>
                                <p><a href="/zeroOut/get_my_follow_user">关注</a> {{ follow_num }} &nbsp; &nbsp; &nbsp;</p>
                                <p><a href="/zeroOut/get_my_fan">粉丝</a> {{ fan_num }}&nbsp; &nbsp; &nbsp;</p>
							</td>
						 </tr>
						 <tr>
							<td align="center"><input name="release" type="submit" value="发布" onClick="return checkLength(my_news)">&nbsp; 
							<input name="clear" type="reset" value="清空" onClick="return clickText(my_news)"></td>
						</tr>
						</table>
					</ul>

					<ul>
                    <p>好友们的新鲜事</p>

                    {%if weibos%}
                    {%for weibo in weibos%}
                    <p> -------------------------------------------------------------------------------------------- </p>
                    <p> {{weibo.weibo_uid_name}} </p>
                    <p> {{weibo.weibo_date}} </p>
                    <p> {{weibo.weibo_text}} </p>
                    <p> 转发：{{weibo.weibo_repostsnum}}
                    评论：{{weibo.weibo_commentsnum}}
                    点赞：{{weibo.weibo_attitudesnum}} </p>
                    {% endfor %}
                    
                    {% else %}
                    <p> No weibos are available.</p>
                    {% endif %}
					</ul>
				</div>
		</form>
			</div>
		</div>		
		<div class="footer">
			<div>
				<ul>
					<li>
						<a href="/zeroOut/">登录</a>
					</li>
					<li>
						<a href="/zeroOut/register">注册</a>
					</li>
					<li>
						<a href="/zeroOut/about">关于</a>
					</li>
				</ul>
				
				<div class="connect">
					<a href="#" id="sina">weibo</a>
					<a href="#" id="facebook">facebook</a>
					<a href="#" id="twitter">twitter</a>
				</div>
				<p class="footnote">&#169; Copyright &#169; 2019. ZeroOut Group. All rights reserved</p>
				<p class="footnote"> SNS Website Using gStore System, Peking University</p>
			</div>
		</div>
	</div>
</body>
</html>
